/* font import */
/* "Lora" */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

:root {
  --main-background: #000028;
  --neutral-color: #fff;
  --about-background: #cccbd4;
  --service-background: #64637c;
  --preview-background: #FF4507;
  --accent-one: ;
}

/* consider using a serif font */
body {
  /* font-family: "Josefin Sans"; */
  font-family: "Lora", 'Times New Roman', Times, serif;
  margin: 0 auto;
}

.main-container {
  background-color: var(--main-background);
}


h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.75rem;
}

h3, strong {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}




/* hero section styling */
.hero-section {
  background-color: #000028;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23cccbd4' fill-opacity='0.02' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem 0;
  /* height: 70vh; */
  margin: 0 auto;
  color: var(--neutral-color);
  /* margin-bottom: 2rem; */
}


/* logo styling and animation*/
#logo {
  width: 60vw;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: logo-spin infinite 15s linear;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero-section .hero-text {
  text-align: left;
}

.hero-section h4 {
  font-weight: 200;
  font-style: italic;
}

/* hero section end */
/* about section */
.about-container {
  background-color: var(--about-background);
  /* width: 90vw; */
  margin: 0 auto;
  text-align: center;
  padding: 10rem 1rem;
}

.about-container .text{
  text-align: left;
}

.about-container h1 {
  margin-bottom: 1rem;
}



.about-container p{
  font-size: 1.8rem;
  margin: 2rem 1rem;
}

.italics {
  font-style: italic;
}

/* About section end */

/* service section start */
.service-container {
  display: none;
  background-color: var(--service-background);
  padding: 5rem 1rem;
  text-align: center;
}


.service-container h1 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.service-container h2 {
  font-weight: 300;
  margin-bottom: .7rem;
}

/* service section end */
/* project container style starts */
.project-container {
  margin: 0 auto;
  text-align: center;
  padding: 10rem 0 5rem 0;
  color: var(--neutral-color);
}

.project-container h1 {
  margin-bottom: 1rem;
}

.project-list p{
  margin-bottom: 1.3rem;
}


.project-list .list {
  text-align: left;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}


.list button {
  width: 27rem;
  padding: 1rem;
  font-size: 1.8rem;
  margin: 1rem;
}


.project-container .project-view {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1a193d5d;
  /* background-color: #47476377; */
  /* background-color: #01002877; */
  box-shadow: 0 0 3px 3px #474763;
}


.project-view-desc p{
  font-size: 1.4rem;
}

.project-view-desc a{
  font-size: 1.4rem;
  color: var(--preview-background);
}

.project- h4 {
  color: var(--neutral-color);
}

.project-preview {
  /* height: 56.8rem; */
  width: 100%;
  margin: 1rem auto;
  background-color: #ffffff99;
  border-radius: .5rem;
}

.embeded-page {
  width: 100%;
  height: 100%;
}


/* footer Styling */
footer{
  background-color: #000028;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23cccbd4' fill-opacity='0.02' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.footer {
  /* background-color: #000028;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23cccbd4' fill-opacity='0.02' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 3px 3px #474763;

  padding: 5rem 2rem;
  color: var(--neutral-color);

  
  text-align: center;
}

.footer h4{
  text-align: left;
  margin-bottom: 1rem;
}

.footer img{
  width: 5vw;
  margin-right: 2rem;
}
.footer-texts h4{
  text-align: center;
}

.footer-links{
  margin-top:2rem;
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
}


@media screen and (min-width:500px){
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3, strong {
    font-size: 2.3rem;
  }
  
  h4 {
    font-size: 2rem;
  }
  
  p {
    font-size:2rem;
  }

  
.project-list .list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

}
@media screen and (min-width:600px) {
  #logo{
    width: 40rem;
  }}

 

@media screen and (min-width:900px) {
 #logo{
  width: 45rem;
 }
 .list button{
   width: 200px;
 }
}


@media screen and (min-width:1000px) {
  .main-container{
    width: 1000px;
    margin: 0 auto; 
  }

  
.project-list .list{
  width: 90%;
}

.footer img{
  width: 5rem;
}

 }